* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body p {
    margin: 10px;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: 'Caveat Brush', cursive;
    font-size: 40px;
    color: rgba(13, 13, 114, 0.835);
}

a:link {
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2px solid rgb(92, 84, 84);
    margin: 5vw 20vw;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: rgba(235, 235, 235, 0.972);
}

.form img {
    margin: 10px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input[type=text],
select {
    margin-bottom: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form form input[type=email] {
    margin-bottom: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 10px;
}

.form form button {
    background-color: #1d57ad;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}